body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: radial-gradient(#414551, #151419 85%);
    color: white;
    margin: 0;
}
header {
    height: 150px;
    width:100%;
    background-image: linear-gradient(to bottom, rgba(21,20,25,0), rgba(21,20,25,0.7), rgba(21,20,25)), url(images/Chopsticks.jpg);
    /* legger en gradient over bildet for å blende sammen med bakgrunnsfarge til resten av nettsiden*/
    background-color: #151419;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 45%;
    
    font-size: 22px;
    text-align: center;
    line-height: 1.3em;
}
#logo {
    margin-top: 25px;
    height: 100px;
}
#meny {
    margin-left: auto;
    margin-top: -5px;
}
/*#meny ul {
    border: 1px solid green;
    margin-left: -35px;
}*/
#meny a{
    /*margin: auto;*/
    text-decoration: none;
    color: white;
    /*
    position: static;
    border: 1px solid white;*/
    border-radius: 80% 40%;
    font-size: 24px;
    background-color: rgb(196, 0, 0);
    border: 2px solid brown;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.8);
    padding: 20px;
}
#meny ul {
    padding-left:0;
}
#meny li{
    padding: 5px 10px;
    list-style-type: none;
    list-style:none;
    display: inline-block;
}
#meny a:hover {
    background-color: rgb(211, 48, 48);
}
#apningstider {
    width: 825px;
    margin: auto;
    margin-top: 45px;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.5);
}
main{
    margin-top: 180px;
    min-width: 75%;
}
main h1,h2 {
    text-align: center;
    color: ghostwhite;
}
.retterDiv {
    color: black;
    min-height: 200px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.rettDiv {
    width: 280px;
    height: 440px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #f0e8d0;
    border-radius: 20px;
}
.rettDiv:hover {
    background-color: rgba(240, 232, 208, 0.85);
}
.rettDiv img {
    margin-top: -10px;
    border-radius: 15px;
    width: 240px;
    height: 240px;
    object-fit: cover; /* Stopper bildene fra å bli Strukket eller skvist sammen, bedre kvalitet */
}
.rettDiv h3 {
    font-size: 25px;
}
footer {
    width: 50%;
    min-height: 60px;
    margin: auto;
    border-style: solid;
    align-content: center;
}
#omOss {    
    border-style: solid;
}
#info h2 {
    text-align: left;
    font-size: 25px;
    color: whitesmoke;
    border-style: solid;
}
#info {
    border-style: solid;
    width: 100%;
}
.infoer {
    display: inline-block;
    vertical-align:top; 
    width: 300px;
    height: 270px;
    border-style: solid;
}
.infoer ul{
    list-style-type: none;
    color: white;
}
.infoer a {
    text-decoration: none;
    color: inherit;
    line-height: 25px;
}
.infoer a:hover {
    font-weight: bold;
}
#twt {
    background-image: url("https://www.oslomet.no/bundles/oslomet/images/icon-twitter.svg");
}
.rapport p{
    max-width: 50%;
    padding: 10px;
    line-height: 30px;
    font-size: larger;
    margin: auto;
}